body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 9rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;

}
p {
  line-height: 2;
  color: #40514E;
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-size: 30px;
    font-weight: bold;
}
hr {
  border: dotted #EAF6F6 10PX;
  border-bottom: NONE;
  width: 4%;
  margin: 100px auto;


}
a {
  color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}

.mountain {
  width: 46%;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
 }

.danishpic {
  width: 200px;
  height: 200px;
}
.skill-row {
  width: 50%;
margin: 100px auto 100px auto;
text-align: left;
line-height: 2;
}

.laptop {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chillies {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.top {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
  line-height: 1.2;
  height: 100vh;


}


.mid {
margin: 100px 0;
}

.bottom {
background-color: #66bfbf;
padding: 50px 0 20px 0;
}

.topimg {
  position: absolute;
  right: 450px;
  top: 40px;
}

.bottomimg {
  position: absolute;
  left: 500px;
  bottom: 450px;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11998);
  background-image: -moz-linear-gradient(top, #11CDD4, #11998);
  background-image: -ms-linear-gradient(top, #11CDD4, #11998);
  background-image: -o-linear-gradient(top, #11CDD4, #11998);
  background-image: linear-gradient(to bottom, #11CDD4, #11998);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc48d);
  text-decoration: none;
}
